/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Box Sizing & Container
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 24px 16px;
}

/*
  ========================================
  Picture and Bio
  ========================================
*/

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #3b5e8c;
  color: #fff;
  font: 17px/24px Avenir-Roman, Helvetica, Arial, sans-serif;
}

h1 {
  color: #f2c744;
  font: 700 22px/32px Futura, Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
  margin-top: 24px;
}

p {
  margin-bottom: 24px;
}

a {
  color: #f2c744;
  font-family: Avenir-Heavy;
}

a:hover {
  color: #fff;
}

img {
  max-width: 100%;
}

/*
  ========================================
  Social
  ========================================
*/

.social li, .social span {
  display: inline-block;
}

.social span {
  height: 20px;
  margin-right: 16px;
  width: 19px;
}

.twitter {
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23ced7e2'%3E%3Cpath d='M19.9 4.2C19.2 4.5 18.4 4.7 17.6 4.8 18.4 4.3 19.1 3.5 19.3 2.6 18.6 3 17.7 3.4 16.8 3.5 16.1 2.8 15.1 2.3 13.9 2.3 11.7 2.3 10 4.1 10 6.3 10 6.6 10 6.9 10.1 7.2 6.8 7 3.8 5.4 1.9 3 1.5 3.6 1.4 4.3 1.4 5 1.4 6.4 2.1 7.6 3.1 8.3 2.5 8.3 1.9 8.1 1.3 7.8L1.3 7.9C1.3 9.8 2.7 11.4 4.5 11.8 4.2 11.8 3.8 11.9 3.5 11.9 3.2 11.9 3 11.9 2.7 11.8 3.2 13.4 4.7 14.5 6.4 14.6 5.1 15.6 3.4 16.3 1.5 16.3 1.2 16.3 0.9 16.3 0.5 16.2 2.3 17.3 4.4 18 6.6 18 13.9 18 17.9 12 17.9 6.7 17.9 6.5 17.9 6.4 17.9 6.2 18.7 5.6 19.3 4.9 19.9 4.2Z'/%3E%3C/svg%3E");
}

.twitter:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23f2c744'%3E%3Cpath d='M19.9 4.2C19.2 4.5 18.4 4.7 17.6 4.8 18.4 4.3 19.1 3.5 19.3 2.6 18.6 3 17.7 3.4 16.8 3.5 16.1 2.8 15.1 2.3 13.9 2.3 11.7 2.3 10 4.1 10 6.3 10 6.6 10 6.9 10.1 7.2 6.8 7 3.8 5.4 1.9 3 1.5 3.6 1.4 4.3 1.4 5 1.4 6.4 2.1 7.6 3.1 8.3 2.5 8.3 1.9 8.1 1.3 7.8L1.3 7.9C1.3 9.8 2.7 11.4 4.5 11.8 4.2 11.8 3.8 11.9 3.5 11.9 3.2 11.9 3 11.9 2.7 11.8 3.2 13.4 4.7 14.5 6.4 14.6 5.1 15.6 3.4 16.3 1.5 16.3 1.2 16.3 0.9 16.3 0.5 16.2 2.3 17.3 4.4 18 6.6 18 13.9 18 17.9 12 17.9 6.7 17.9 6.5 17.9 6.4 17.9 6.2 18.7 5.6 19.3 4.9 19.9 4.2Z'/%3E%3C/svg%3E");
}

.linkedin {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20' fill='%23ced7e2'%3E%3Cpath d='M4.3 6.8L0.2 6.8 0.2 19 4.3 19 4.3 6.8ZM4.5 3.1C4.5 1.9 3.7 1 2.3 1 0.9 1 0 1.9 0 3.1 0 4.2 0.9 5.2 2.2 5.2L2.3 5.2C3.7 5.2 4.6 4.2 4.5 3.1ZM10.6 8.5L10.6 6.8 6.5 6.8C6.5 6.8 6.6 8 6.5 19L10.6 19 10.6 12.2C10.6 11.8 10.6 11.5 10.7 11.2 11 10.5 11.7 9.7 12.8 9.7 14.2 9.7 14.8 10.8 14.8 12.5L14.8 19 18.9 19 18.9 12C18.9 8.3 16.9 6.5 14.2 6.5 12.1 6.5 11.1 7.7 10.6 8.5L10.6 8.5Z'/%3E%3C/svg%3E");
}

.linkedin:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20' fill='%23f2c744'%3E%3Cpath d='M4.3 6.8L0.2 6.8 0.2 19 4.3 19 4.3 6.8ZM4.5 3.1C4.5 1.9 3.7 1 2.3 1 0.9 1 0 1.9 0 3.1 0 4.2 0.9 5.2 2.2 5.2L2.3 5.2C3.7 5.2 4.6 4.2 4.5 3.1ZM10.6 8.5L10.6 6.8 6.5 6.8C6.5 6.8 6.6 8 6.5 19L10.6 19 10.6 12.2C10.6 11.8 10.6 11.5 10.7 11.2 11 10.5 11.7 9.7 12.8 9.7 14.2 9.7 14.8 10.8 14.8 12.5L14.8 19 18.9 19 18.9 12C18.9 8.3 16.9 6.5 14.2 6.5 12.1 6.5 11.1 7.7 10.6 8.5L10.6 8.5Z'/%3E%3C/svg%3E");
}

.instagram {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20' fill='%23ced7e2'%3E%3Cpath d='M12.6 10.1C12.6 8.4 11.2 7 9.4 7 7.7 7 6.3 8.4 6.3 10.1 6.3 11.9 7.7 13.3 9.4 13.3 11.2 13.3 12.6 11.9 12.6 10.1ZM14.3 10.1C14.3 12.8 12.1 15 9.4 15 6.8 15 4.6 12.8 4.6 10.1 4.6 7.5 6.8 5.3 9.4 5.3 12.1 5.3 14.3 7.5 14.3 10.1ZM15.6 5.1C15.6 5.7 15.1 6.2 14.5 6.2 13.8 6.2 13.3 5.7 13.3 5.1 13.3 4.5 13.8 4 14.5 4 15.1 4 15.6 4.5 15.6 5.1ZM9.4 2.4C8.1 2.4 5.1 2.3 3.9 2.8 3.4 3 3.1 3.2 2.8 3.5 2.5 3.8 2.2 4.2 2.1 4.6 1.6 5.8 1.7 8.8 1.7 10.1 1.7 11.5 1.6 14.5 2.1 15.7 2.2 16.1 2.5 16.5 2.8 16.8 3.1 17.1 3.4 17.3 3.9 17.5 5.1 18 8.1 17.9 9.4 17.9 10.8 17.9 13.8 18 15 17.5 15.4 17.3 15.7 17.1 16.1 16.8 16.4 16.5 16.6 16.1 16.8 15.7 17.3 14.5 17.2 11.5 17.2 10.1 17.2 8.8 17.3 5.8 16.8 4.6 16.6 4.2 16.4 3.8 16.1 3.5 15.7 3.2 15.4 3 15 2.8 13.8 2.3 10.8 2.4 9.4 2.4ZM18.9 10.1C18.9 11.4 18.9 12.7 18.8 14 18.7 15.5 18.4 16.9 17.3 18 16.2 19.1 14.8 19.4 13.3 19.5 12 19.6 10.7 19.6 9.4 19.6 8.1 19.6 6.8 19.6 5.5 19.5 4 19.4 2.7 19.1 1.6 18 0.5 16.9 0.1 15.5 0.1 14 0 12.7 0 11.4 0 10.1 0 8.8 0 7.6 0.1 6.3 0.1 4.7 0.5 3.4 1.6 2.3 2.7 1.2 4 0.8 5.5 0.8 6.8 0.7 8.1 0.7 9.4 0.7 10.7 0.7 12 0.7 13.3 0.8 14.8 0.8 16.2 1.2 17.3 2.3 18.4 3.4 18.7 4.7 18.8 6.3 18.9 7.6 18.9 8.8 18.9 10.1Z'/%3E%3C/svg%3E");
}

.instagram:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20' fill='%23f2c744'%3E%3Cpath d='M12.6 10.1C12.6 8.4 11.2 7 9.4 7 7.7 7 6.3 8.4 6.3 10.1 6.3 11.9 7.7 13.3 9.4 13.3 11.2 13.3 12.6 11.9 12.6 10.1ZM14.3 10.1C14.3 12.8 12.1 15 9.4 15 6.8 15 4.6 12.8 4.6 10.1 4.6 7.5 6.8 5.3 9.4 5.3 12.1 5.3 14.3 7.5 14.3 10.1ZM15.6 5.1C15.6 5.7 15.1 6.2 14.5 6.2 13.8 6.2 13.3 5.7 13.3 5.1 13.3 4.5 13.8 4 14.5 4 15.1 4 15.6 4.5 15.6 5.1ZM9.4 2.4C8.1 2.4 5.1 2.3 3.9 2.8 3.4 3 3.1 3.2 2.8 3.5 2.5 3.8 2.2 4.2 2.1 4.6 1.6 5.8 1.7 8.8 1.7 10.1 1.7 11.5 1.6 14.5 2.1 15.7 2.2 16.1 2.5 16.5 2.8 16.8 3.1 17.1 3.4 17.3 3.9 17.5 5.1 18 8.1 17.9 9.4 17.9 10.8 17.9 13.8 18 15 17.5 15.4 17.3 15.7 17.1 16.1 16.8 16.4 16.5 16.6 16.1 16.8 15.7 17.3 14.5 17.2 11.5 17.2 10.1 17.2 8.8 17.3 5.8 16.8 4.6 16.6 4.2 16.4 3.8 16.1 3.5 15.7 3.2 15.4 3 15 2.8 13.8 2.3 10.8 2.4 9.4 2.4ZM18.9 10.1C18.9 11.4 18.9 12.7 18.8 14 18.7 15.5 18.4 16.9 17.3 18 16.2 19.1 14.8 19.4 13.3 19.5 12 19.6 10.7 19.6 9.4 19.6 8.1 19.6 6.8 19.6 5.5 19.5 4 19.4 2.7 19.1 1.6 18 0.5 16.9 0.1 15.5 0.1 14 0 12.7 0 11.4 0 10.1 0 8.8 0 7.6 0.1 6.3 0.1 4.7 0.5 3.4 1.6 2.3 2.7 1.2 4 0.8 5.5 0.8 6.8 0.7 8.1 0.7 9.4 0.7 10.7 0.7 12 0.7 13.3 0.8 14.8 0.8 16.2 1.2 17.3 2.3 18.4 3.4 18.7 4.7 18.8 6.3 18.9 7.6 18.9 8.8 18.9 10.1Z'/%3E%3C/svg%3E");
}

.email {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20' fill='%23ced7e2'%3E%3Cpath d='M15.3 0.7C17.3 0.7 18.9 2.3 18.9 4.2L18.9 16C18.9 18 17.3 19.6 15.3 19.6L3.5 19.6C1.6 19.6 0 18 0 16L0 4.2C0 2.3 1.6 0.7 3.5 0.7L15.3 0.7ZM15.7 13.7L15.7 8.3C15.5 8.6 15.2 8.8 14.9 9 13.8 9.8 12.6 10.5 11.4 11.3 10.9 11.7 10.2 12.1 9.4 12.1 8.7 12.1 8 11.7 7.4 11.3 6.3 10.5 5.1 9.8 3.9 9 3.6 8.8 3.4 8.5 3.1 8.3L3.1 13.7C3.1 14.3 3.7 14.9 4.3 14.9L14.5 14.9C15.2 14.9 15.7 14.3 15.7 13.7ZM15.7 6.6C15.7 6 15.2 5.4 14.5 5.4L4.3 5.4C3.7 5.4 3.1 6 3.1 6.6 3.1 7.3 3.8 8 4.3 8.3 5.4 9.1 6.5 9.7 7.6 10.4 8.1 10.8 8.9 11.3 9.4 11.3 10 11.3 10.8 10.8 11.2 10.4 12.3 9.7 13.4 9 14.5 8.3 15 8 15.7 7.3 15.7 6.6Z'/%3E%3C/svg%3E");
}

.email:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20' fill='%23f2c744'%3E%3Cpath d='M15.3 0.7C17.3 0.7 18.9 2.3 18.9 4.2L18.9 16C18.9 18 17.3 19.6 15.3 19.6L3.5 19.6C1.6 19.6 0 18 0 16L0 4.2C0 2.3 1.6 0.7 3.5 0.7L15.3 0.7ZM15.7 13.7L15.7 8.3C15.5 8.6 15.2 8.8 14.9 9 13.8 9.8 12.6 10.5 11.4 11.3 10.9 11.7 10.2 12.1 9.4 12.1 8.7 12.1 8 11.7 7.4 11.3 6.3 10.5 5.1 9.8 3.9 9 3.6 8.8 3.4 8.5 3.1 8.3L3.1 13.7C3.1 14.3 3.7 14.9 4.3 14.9L14.5 14.9C15.2 14.9 15.7 14.3 15.7 13.7ZM15.7 6.6C15.7 6 15.2 5.4 14.5 5.4L4.3 5.4C3.7 5.4 3.1 6 3.1 6.6 3.1 7.3 3.8 8 4.3 8.3 5.4 9.1 6.5 9.7 7.6 10.4 8.1 10.8 8.9 11.3 9.4 11.3 10 11.3 10.8 10.8 11.2 10.4 12.3 9.7 13.4 9 14.5 8.3 15 8 15.7 7.3 15.7 6.6Z'/%3E%3C/svg%3E");
}

/*
  ========================================
  Styles for Large Screens
  ========================================
*/

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  .left {
    float: left;
    width: 50%;
  }

  .right {
    float: right;
    padding-left: 32px;
    width: 50%;
  }

  h1 {
    margin-top: 0;
  }

  footer {
    margin-left: 50%;
    padding-left: 32px;
  }
}
